.movies-card-list {
  background: rgba(32, 32, 32, 1);
  /* padding-top: 70px; */
  /* padding-bottom: 10px; */
  padding: 70px 20px 10px;
}

.movies-card-list__movies {
  display: grid;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: repeat(2, 1fr); */
  column-gap: 24px;
  row-gap: 37px;
  list-style: none;
}

@media screen and (max-width: 900px) {
  .movies-card-list {
    padding-bottom: 0px;
  }

  .movies-card-list__movies {
    max-width: 708px;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: repeat(3, 1fr); */
    column-gap: 24px;
    row-gap: 37px;
  }
}

@media screen and (max-width: 600px) {
  .movies-card-list__movies {
    max-width: 300px;
    grid-template-columns: repeat(1, 1fr);
    /* grid-template-rows: repeat(6, 1fr); */
    gap: 12px;
  }
}

@media screen and (max-width: 400px) {
  .movies-card-list {
    /* background: rgba(32, 32, 32, 1); */
    /* padding-top: 70px; */
    /* padding-bottom: 10px; */
    padding: 0;
  }

  .movies-card-list__movies {
    padding-top: 40px;
    padding-bottom: 0;
    /* padding: 40px 0 0; */
  }
}
