.profile {
  background: rgba(32, 32, 32, 1);
  min-height: 100vh;
  height: 100%;
  padding-top: 74px;
  padding-bottom: 70px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.profile__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile__title {
  padding: 0;
  margin: 0;
  margin-bottom: 123px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #ffffff;
}

.profile__form {
  width: 410px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile__fieldset {
  width: 100%;
  border: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(66, 66, 66, 1);
  padding-bottom: 16px;
}

.profile__fieldset:last-of-type {
  padding-top: 16px;
  padding-bottom: 0;
  border-bottom: none;
}

.profile__label {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  color: #ffffff;
  max-width: 36px;
  width: 100%;
}

.profile__input {
  max-width: 350px;
  width: 100%;
  background: rgba(32, 32, 32, 1);
  border: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  text-align: right;
  color: #ffffff;
  text-decoration: none;
}

.profile__edit-button {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
  background-color: rgba(32, 32, 32, 1);
  border: none;
  padding: 0;
  margin-top: 220px;
  text-decoration: none;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: 0.5;
  transition: 0.5s ease-in-out;
}

.profile__logout-link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #ee3465;
  text-decoration: none;
  cursor: pointer;
  margin-top: 16px;
}

.profile__logout-link:hover {
  opacity: 0.5;
  transition: 0.5s ease-in-out;
}

@media screen and (max-width: 400px) {
  .profile {
    padding-top: 70px;
    padding-bottom: 40px;
  }

  .profile__title {
    margin-bottom: 80px;
  }

  .profile__form {
    max-width: 260px;
    width: 100%;
  }

  .profile__edit-button {
    font-size: 12px;
    line-height: 15px;
    margin-top: 380px;
  }

  .profile__logout-link {
    font-size: 12px;
    line-height: 15px;
  }
}
