.promo {
  display: block;
  position: relative;
  width: 100%;
  min-height: 524px;
  background: rgba(7, 48, 66, 1);
  margin: 0 auto;
  padding: 0;
}

.promo__title {
  display: block;
  position: absolute;
  top: 242px;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 730px;
  width: 100%;
  min-height: 116px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  text-align: center;
  letter-spacing: -0.04em;
  margin: auto;
  overflow: hidden;
}

.promo__logo {
  position: absolute;
  top: 242px;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 320px;
  height: 320px;
}

@media screen and (max-width: 600px) {
  .promo {
    min-height: 570px;
  }

  .promo__title {
    font-size: 31px;
    line-height: 39px;
  }

  .promo__logo {
    max-width: 248px;
    height: 248px;
  }
}
